h1 {
    text-align: center;
}
.h1-para {
    text-align: center;
    font-weight: bold;
}
h2-para {
    font-style: italic;
    font-weight: bold;
}
.code {
    font-weight: bold;
}
table,caption,th,td {
    border: 2px solid black;
}
legend {
    padding: 5px 5px;
}